@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open_sans/OpenSans-ExtraboldItalic.eot');
  src: url('fonts/open_sans/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/open_sans/OpenSans-ExtraboldItalic.woff') format('woff'),
    url('fonts/open_sans/OpenSans-ExtraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open_sans/OpenSans-Light.eot');
  src: url('fonts/open_sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/open_sans/OpenSans-Light.woff') format('woff'),
    url('fonts/open_sans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open_sans/OpenSansLight-Italic.eot');
  src: url('fonts/open_sans/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/open_sans/OpenSansLight-Italic.woff') format('woff'),
    url('fonts/open_sans/OpenSansLight-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open_sans/OpenSans-Italic.eot');
  src: url('fonts/open_sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/open_sans/OpenSans-Italic.woff') format('woff'),
    url('fonts/open_sans/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open_sans/OpenSans-Extrabold.eot');
  src: url('fonts/open_sans/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('fonts/open_sans/OpenSans-Extrabold.woff') format('woff'),
    url('fonts/open_sans/OpenSans-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open_sans/OpenSans-Semibold.eot');
  src: url('fonts/open_sans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/open_sans/OpenSans-Semibold.woff') format('woff'),
    url('fonts/open_sans/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open_sans/OpenSans-Bold.eot');
  src: url('fonts/open_sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/open_sans/OpenSans-Bold.woff') format('woff'),
    url('fonts/open_sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open_sans/OpenSans.eot');
  src: url('fonts/open_sans/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('fonts/open_sans/OpenSans.woff') format('woff'),
    url('fonts/open_sans/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open_sans/OpenSans-SemiboldItalic.eot');
  src: url('fonts/open_sans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/open_sans/OpenSans-SemiboldItalic.woff') format('woff'),
    url('fonts/open_sans/OpenSans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/open_sans/OpenSans-BoldItalic.eot');
  src: url('fonts/open_sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/open_sans/OpenSans-BoldItalic.woff') format('woff'),
    url('fonts/open_sans/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-LightItalic.eot');
  src: url('Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato/Lato-LightItalic.woff') format('woff'),
    url('fonts/lato/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Light.eot');
  src: url('fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato/Lato-Light.woff') format('woff'),
    url('fonts/lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('fonts/lato/Lato-HairlineItalic.eot');
  src: url('fonts/lato/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato/Lato-HairlineItalic.woff') format('woff'),
    url('fonts/lato/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Bold.eot');
  src: url('fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato/Lato-Bold.woff') format('woff'),
    url('fonts/lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Italic.eot');
  src: url('fonts/lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato/Lato-Italic.woff') format('woff'),
    url('fonts/lato/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-BoldItalic.eot');
  src: url('fonts/lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato/Lato-BoldItalic.woff') format('woff'),
    url('fonts/lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('fonts/lato/Lato-Hairline.eot');
  src: url('fonts/lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato/Lato-Hairline.woff') format('woff'),
    url('fonts/lato/Lato-Hairline.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Regular.eot');
  src: url('fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato/Lato-Regular.woff') format('woff'),
    url('fonts/lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-Black.eot');
  src: url('fonts/lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato/Lato-Black.woff') format('woff'),
    url('fonts/lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/Lato-BlackItalic.eot');
  src: url('fonts/lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato/Lato-BlackItalic.woff') format('woff'),
    url('fonts/lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'James Fajardo';
  src: url('fonts/james_fajardo/JamesFajardo.eot');
  src: url('fonts/james_fajardo/JamesFajardo.eot?#iefix') format('embedded-opentype'),
    url('fonts/james_fajardo/JamesFajardo.woff') format('woff'),
    url('fonts/james_fajardo/JamesFajardo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
