#Home {
  height: 100%;

  .slideshow {
    height: 100%;
    top: 0; left: 0;
    width: 100%;

    .slide {
      height: 100%;
      width: 100%;
      top: 0; left: 0;
      background-size: cover;
      background-position: center center;
      opacity: 0;
      transition: opacity 0.33s ease;

      &.active {
        opacity: 1;
      }
    }
  }

  .table-of-contents {
    width: 300px;
    padding: 1em;
    top: 5em; left: 2.5em;
    box-sizing: border-box;
    background: rgba(255,255,255,0.8);

    .title {
      margin-bottom: 30px;
      * {
        margin: 0;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .logo {
      margin: 30px auto 0;
      width: 80px;
    }
  }

  .watch-cta {
    bottom: 0;
    right: 0;
    font-size: 1.33em;
    padding: 0.66em 2em;
    background: lightblue;
  }
}

#home_player {
  display: none;
  width: 100vw;
  height: 56.25vw;
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
}

#Home.video-active {
  #home_player {
    display: block;
  }

  .slideshow {
    display: none;
  }

  .table-of-contents {
    display: none;
  }

  .watch-cta {
    transform: translate(100%, 100%);
  }
}
