#Home {
  min-height: 100vh;
  background: black;

  &.loading {
    * {
      display: none!important;
    }
  }

  .slideshow {
    height: 100%;
    top: 0; left: 0;
    width: 100%;
    z-index: 0;
    transform-origin: 50%;
    background: white;

    .slide {
      height: 100%;
      width: 100%;
      top: 0; left: 0;
      overflow: hidden;
      z-index: 0;
      opacity: 0;
      // transition: opacity 0.33s ease;
      // display: none;

      .img-cont {
        height: 100%;
        width: 100%;
        top: 0; left: 0;
        background-size: cover;
        background-position: center center;
        width: 100vw;
        // transform: background-position 0.8s ease;

        img {
          // width: 1px; height: 1px;
          // position: absolute;
          display: none;
        }
      }

      &.active {
        // display: block;
        opacity: 1;
        z-index: 2;

        .img-cont {
          // background-position: center center;
        }
      }
    }

    &[data-dir="forward"] {
      cursor: url(images/forward-arrow.png) 40 30, auto;
    }
    &[data-dir="back"] {
      cursor: url(images/back-arrow.png) 20 30, auto;
    }
  }

  .table-of-contents {
    width: 300px;
    padding: 2em 1em;
    top: 5em; left: 2.5em;
    box-sizing: border-box;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.8);

    &:before {
      content: '';
      position: absolute;
      top: 0.5em; bottom: 0.5em;
      left: 0.5em; right: 0.5em;
      border: 1px solid rgba(255,255,255,0.66);
    }

    .title {
      margin-bottom: 30px;
      * {
        margin: 0;
      }
      h2 {
        letter-spacing: 0.1em;
      }
      h3 {
        font-size: 1em;
        letter-spacing: 0.1em;
        font-weight: 600;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: relative;

      a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.1em;
        font-size: 0.9em;

        &:before, &:after {
          content: "~";
          margin: 0 0.33em;
        }
      }
    }

    .logo {
      margin: 30px auto 0;
      width: 80px;
    }
  }

  .watch-cta {
    bottom: 0;
    right: 0;
    font-size: 1.66em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: white;
    padding: 0.66em 1.66em;
    background: $color__logo-light;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
  }
}

#home_player {
  display: none;
  width: 100vw;
  height: 56.25vw;
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
}

#Home.video-active {
  #home_player {
    display: block;
  }

  .slideshow {
    display: none;
  }

  .table-of-contents {
    display: none;
  }

  .watch-cta {
    transform: translate(100%, 100%);
  }
}
