body.admin-bar {
  #Home {
    min-height: calc(100vh - 30px)!important;
  }
}

#intro_loader {
  width: 100%;
  height: 100%;
  z-index: 1;

  span {
    letter-spacing: 0.1em;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
  }

  svg {
    width: 80px;
    height: 120px;
    overflow: visible;
    display: block;
    margin: 0 auto;

    path {
      animation: loader-wave 3s infinite;

      &:nth-of-type(5) {
      animation-delay: -2.9s;
      }
      &:nth-of-type(4) {
        animation-delay: -3.0s;
      }
      &:nth-of-type(3) {
        animation-delay: -3.1s;
      }
      &:nth-of-type(2) {
        animation-delay: -3.2s;
      }
      &:nth-of-type(1) {
        animation-delay: -3.3s;
      }
    }
  }
}

#Home {
  min-height: 100vh;
  background: black;
  position: relative;
  overflow: hidden;

  // &.loading {
  //   * {
  //     display: none!important;
  //   }
  // }

  &.loaded {
    #intro_loader {
      display: none;
    }
  }

  .slideshow {
    height: 100%;
    top: 0; left: 0;
    width: 100%;
    z-index: 0;
    transform-origin: 50%;
    background: white;

    .slide {
      height: 100%;
      width: 100%;
      top: 0; left: 0;
      overflow: hidden;
      z-index: 0;
      opacity: 0;

      .img-cont {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
        width: 100vw;

        img {
          display: none;
        }
      }

      &.active {
        opacity: 1;
        z-index: 2;

        .img-cont {
        }
      }
    }

    &[data-dir="forward"] {
      cursor: url(images/forward-arrow.png) 40 30, auto;
    }
    &[data-dir="back"] {
      cursor: url(images/back-arrow.png) 20 30, auto;
    }
  }

  .table-of-contents {
    width: 300px;
    padding: 2em 1em;
    top: 3em; left: 3em;
    box-sizing: border-box;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.8);

    &:before {
      content: '';
      position: absolute;
      top: 0.5em; bottom: 0.5em;
      left: 0.5em; right: 0.5em;
      border: 1px solid rgba(255,255,255,0.66);
    }

    .title {
      margin-bottom: 30px;
      * {
        margin: 0;
      }
      h2 {
        letter-spacing: 0.1em;
      }
      h3 {
        font-size: 1em;
        letter-spacing: 0.1em;
        font-weight: 300;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: relative;

      li {
        margin: 0.33em 0;

        a {
          color: black;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 0.1em;
          font-size: 0.9em;

          &:before, &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 4px;
            width: 12px;
            background-size: 100%;
            background-repeat: no-repeat;
            top: -1px;
            margin: 0 0.66em;
            position: relative;
          }
          &:before {
            background-image: url("images/left-spike.svg");
          }
          &:after {
            background-image: url("images/right-spike.svg");
          }
          &:hover {
            &:before {
              animation: tilde-wiggle-left 0.66s ease;
            }
            &:after {
              animation: tilde-wiggle-right 0.66s ease;
            }
          }
        }
      }

    }

    .logo {
      margin: 30px auto 0;
      width: 80px;
    }
  }

  .watch-cta {
    bottom: 0;
    right: 0;
    letter-spacing: 0.2em;
    color: white;
    background: rgba(0,64,102,0.9);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
    width: 110px; height: 110px;
    padding: 1.1em 0.6em 0;
    box-sizing: border-box;

    p {
      margin: 0;
      font-weight: 600;
    }

    svg {
      display: block;
      width: 60px;
      margin: 0 auto;
      height: 60px;
    }

    &:hover {
      #welcome_eye_lid {
        animation: welcome-eye-blink 0.33s;
      }
      #welcome_eye {
        animation: welcome-eye-squeeze 0.33s;
      }
    }
  }
}

#home_player {
  display: none;
  width: 100vw;
  height: 56.25vw;
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
}

#Home.video-active {
  #home_player {
    display: block;
  }

  .slideshow {
    display: none;
  }

  .table-of-contents {
    display: none;
  }

  .watch-cta {
    transform: translate(100%, 100%);
  }
}

@keyframes welcome-eye-blink {
  10% {
    transform: translateY(15px) scaleY(0)
  }
  100% {
    animation-timing-function: ease-out;
  }
}
@keyframes welcome-eye-squeeze {
  10% {
    transform: translateY(3px) scaleY(0.8)
  }
  100% {
    animation-timing-function: ease-out;
  }
}

@keyframes tilde-wiggle-left {
  0% {
    transform: translateX(0%)
  }
  50% {
    transform: translateX(-33%)
  }
  100% {
    transform: translateX(0%)
  }
}

@keyframes tilde-wiggle-right {
  0% {
    transform: translateX(0%)
  }
  50% {
    transform: translateX(33%)
  }
  100% {
    transform: translateX(0%)
  }
}

@keyframes loader-wave {
  0% {
    transform: translateY(15px);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}

@media screen and (max-width: 600px) {
  #Home {
    .table-of-contents {
      position: relative;
      top: auto;
      left: auto;
      margin: 3em auto;
    }
    .watch-cta {
      position: relative;
      bottom: auto;
      right: auto;
      display: block;
      margin: 0px auto;
      border-radius: 4px;
      transform: none!important;
    }
  }
}
