#blog_primary {
  float: left;
  width: 70%;
  // max-width: 700px;
  box-sizing: border-box;
  padding: 3em 4em 100px;

  .post {
    .title {
      margin: 0;
      padding-bottom: 10px;
      font-weight: 400;

      a {
        color: $color__logo-dark;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .date {
      margin: 0;
      font-weight: 300;
      letter-spacing: 0.1em;
    }
    .content {
      padding-top: 20px;
    }

    img {
      margin-top: 1.5em;
      margin-bottom: 2em;
      width: 90%;
      height: auto;
    }
  }
}

#blog_sidebar {
  float: right;
  width: 30%;
  box-sizing: border-box;
  padding: 3em 4em 0 0;

  form {
    .title {
      font-size: 1.2em;
      margin: 0 0 1em 0;
      letter-spacing: 0.1em;
      color: $color__logo-med;
    }

    select {
      width: 200px;
      box-sizing: border-box;
      position: relative;
      margin: 0 auto 1em;
      padding: 0.25em;
      height: 2em;
    }

    input {
      display: block;
      margin: 0 auto;


      &[type="text"] {
        // margin-bottom: 1em;
        padding: 0.25em 0.5em;
        width: 200px;
        box-sizing: border-box;
        position: relative;
      }

      &[type="submit"] {
        display: block;
        margin: 0 auto;
        position: absolute;
        bottom: 0; right: 0;
        background-color: $color__logo-light;
        background-image: url(images/magnifying-glass.png);
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0 1em;
        height: 100%;
        font-weight: 900;
        width: auto;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
        border-radius: 0 3px 3px 0;
        border: none;
        color: white;
        font-size: 1em;
        letter-spacing: 0.1em;
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #blog_primary {
    float: none;
    width: 100%;
  }
  #blog_sidebar {
    float: none;
    display: block;
    width: 90%;
    max-width: 500px;
    margin: 0 auto 60px;
    padding: 0;
  }
  select, input[type="text"] {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #blog_primary {
    font-size: 0.8em;
  }
}
