#Booking {
  .entry-title {
    display: none;
  }
  .title {
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 0.66em 0;
  }

  form {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;

    br {
      display: none;
    }

    .field-cont {
      display: block;
      margin-bottom: 40px;
      font-weight: 300;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    .field-label {
      margin-bottom: 1em;
      display: block;
    }

    input {
      width: 100%;

      &[type="date"] {
        border: none;
        border-bottom: 1px solid rgba(60,60,60,1);
        border-radius: 0;
        font-size: 3em;
        letter-spacing: 0.1em;
        font-weight: 100;
        outline: none;
      }

      &[type="submit"] {
        display: block;
        margin: 0 auto;
        padding: 1em 2em;
        text-transform: uppercase;
        width: auto;
        background: $color__logo-light;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
        border-radius: 0;
        border: none;
        color: white;
        font-size: 1em;
        letter-spacing: 0.1em;
        outline: none;

        &:hover, &:active {
          background: $color__logo-dark;
        }
      }
    }

    textarea {
      resize: vertical;
    }

    .seasons {
      text-align: center;
      font-size: 0.8em;

      .season {
        display: inline-block;
        width: 50%;
        margin-bottom: 1em;

        h3, p {
          margin: 0;
        }

        &.low {
          h3 {
            color: $color__logo-light
          }
        }
        &.mid {
          h3 {
            color: $color__logo-med
          }
        }
        &.high {
          h3 {
            color: $color__logo-dark
          }
        }
      }

      margin-bottom: 40px;
    }

    .select-room {
      display: block;
      width: 100%;
      text-align: center;

      .wpcf7-list-item {
        margin: 1em;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 3px;
        width: 10em;
        height: 12em;
        position: relative;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        background-size: 8em;
        background-position: 1em 1em;
        background-repeat: no-repeat;

        &.checked {
          box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.2);
        }

        input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .wpcf7-list-item-label {
          padding: 1em;
          box-sizing: border-box;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          font-size: 0.8em;
        }
      }
    }

    .room-details {
      h3, p {
        margin: 0;
      }
      margin-bottom: 40px;

      .deets {
        width: 100%;
        text-align: center;

        .deet {
          // margin-bottom: 40px;
          vertical-align: top;
          width: 100%; max-width: 200px;

          .seasons {
            margin-top: 1em;
            display: block;
          }

          &.low {
            h3 {
              color: $color__logo-light
            }
          }
          &.mid {
            h3 {
              color: $color__logo-med
            }
          }
          &.high {
            h3 {
              color: $color__logo-dark
            }
          }
        }
      }

      .note {
        letter-spacing: 0.1em;
        font-size: 0.8em;
      }
    }

    .wpcf7-response-output {
      border: none!important;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .wpcf7-validation-errors {
      color: rgba(160,0,0,1);
    }
    .wpcf7-response-output {
      color: rgba(0,160,0,1);
    }

    .ajax-loader {
      display: block;
      margin: 1em auto;
    }
  }
}
