#page.contact {
  .entry-title {
    display: none;
  }
  .wpcf7 {
    width: 90%;
    max-width: 500px;
    margin: 40px auto 0;

    form {
      p {
        margin: 0;
      }

      label {
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.1em;
        margin-bottom: 1em;
        display: block;

        .wpcf7-form-control-wrap {
          display: block;
          margin-top: 0.33em;
        }
      }

      input {
        width: 100%;
        font-weight: 400;

        &[type="submit"] {
          margin: 0 auto;
          padding: 1em 2em;
          text-transform: uppercase;
          width: auto;
          background: $color__logo-light;
          box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
          border-radius: 0;
          border: none;
          color: white;
          font-size: 1em;
          letter-spacing: 0.1em;
          outline: none;
          display: block;

          &:hover, &:active {
            background: $color__logo-dark;
          }
        }
      }
      textarea {
        resize: vertical;
        margin-bottom: 1em;
      }
    }

    .wpcf7-response-output {
      border: none!important;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .wpcf7-validation-errors {
      color: rgba(160,0,0,1);
    }
    .wpcf7-response-output {
      color: rgba(0,160,0,1);
    }

    .ajax-loader {
      display: block;
      margin: 1em auto;
    }
  }
}
