#page {
  height: 100%;

  .banner {
    height: 500px;
    background-size: cover;
    background-position: center;
  }
}

@import "home/home";
@import "lodge/lodge";
@import "blog/blog";
@import "contact/contact";
