#page {
  height: 100%;

  header {
    .banner {
      background-size: cover;
      background-position: center center;
      height: 500px;
    }
  }
}

@import "home/home";
@import "lodge/lodge";
@import "blog/blog";
@import "contact/contact";
