#page {
  height: 100%;

  header {
    .banner {
      background-size: cover;
      background-position: center center;
      height: 500px;
    }
  }
}

.page-content {
  padding-top: 50px;
}

.img-cont {
  // opacity: 0;
  transition: opacity 0.33s ease;

  img {
    // display: none;
  }

  &.is-loaded {
    opacity: 1;
  }
}

footer {
  .social {
    .icons {
      .icon {
        margin: 0 5px;

        .table-cell {
          height: 40px;
          width: 40px;
          border: 1px solid white;
          border-radius: 100%;
          vertical-align: middle;
          box-sizing: border-box;
        }

        img {
          height: 50%;
          width: auto;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

@import "home/home";
@import "lodge/lodge";
@import "blog/blog";
@import "booking/booking";
@import "contact/contact";
