#colophon {
  padding: 4em 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: rgba(40,40,40,1);
  background-image: url('images/surf-clinic-bg.jpg');
  background-size: cover;
  color: white;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4);
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4));
  }

  .site-info {
    position: relative;
  }

  a {
    color: $color__logo-light;
  }

  h2 {
    margin: 0 0 0.33em 0;
    font-weight: 400;
    letter-spacing: 0.1em;
  }

  .section {
    font-size: 0.9em;
    padding: 0 1em;
    box-sizing: border-box;

    .title {
      margin: 0 auto 0.66em;
      letter-spacing: 0.1em;
    }
  }

  .cat {

  }

  .hotel {
    flex: 0 1 33%;
    width: 33%;
    padding: 0 1em;
    box-sizing: border-box;
  }
  .restaurant {
    flex: 0 1 33%;
    width: 33%;
    padding: 0 1em;
    box-sizing: border-box;

    .hours {
      p {
        margin-bottom: 0.66em;
      }
    }
  }
  .social {
    flex: 0 1 33%;
    width: 34%;
    align-self: center;

    form {
      max-width: 230px;
      margin: 0 auto 1em;

      input {
        font-size: 0.9em;
        letter-spacing: 0.1em;
        margin: 0 auto 1em;
        padding: 0.5em 0.8em;
        box-sizing: border-box;
        width: 100%;
        text-align: center;

        &[type="submit"] {
          font-size: 1em;
          margin: 1em auto 2em;
          padding: 1em 2em;
          text-transform: uppercase;
          width: 100%;
          box-sizing: border-box;
          background: $color__logo-light;
          box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
          border-radius: 3px;
          border: none;
          color: white;
          outline: none;
          display: block;
          transition: all 0.2s ease;

          &:hover, &:active {
            background: $color__logo-dark;
          }
        }
      }
    }
  }
  .attribution {
    width: 100%;
    font-size: 0.8em;
  }

  .cat {
    margin-bottom: 1em;

    p {
      margin: 0;
    }

    span {
      font-size: 0.9em;
    }
  }
}

@media screen and (max-width: 768px) {
  #colophon {
    .section {
      width: 100%;
      flex: auto;
      text-align: center;
      margin: 1em auto;

      .cat {
        display: inline-block;
        vertical-align: top;
        margin: 1em;
        min-width: 200px;
      }

      &.hotel {
        order: 1
      }
      &.restaurant {
        order: 2
      }
      &.social {
        order: 3
      }
      &.attribution {
        order: 4
      }
    }
  }
}

footer {
  .social {
    .icons {
      .icon {
        margin: 0 5px;

        .table-cell {
          height: 30px;
          width: 30px;
          border: 1px solid white;
          border-radius: 100%;
          vertical-align: middle;
          box-sizing: border-box;
        }

        img {
          width: 40%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
