#masthead {
  position: fixed;
  background: rgba(255,255,255,0.9);
  width: 100%;
  height: 60px;
  z-index: 1;
  transition: height 0.33s ease;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);

  &.expand {
    height: 70px;
  }

  .custom-logo-link {
    padding-left: 0.5em;
    height: 46px;
    margin-top: -1px;

    img {
      display: block;
      width: auto;
      height: 100%;
    }
  }

  nav {
    padding-left: 1.66em;

    li {
      a {
        color: $color__black;
        padding: 0 1.66em;
      }
      position: relative;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.9em;

      &:before, &:after {
        content: "";
        position: absolute;
        height: 4px;
        width: 12px;
        background-size: 100%;
        background-repeat: no-repeat;
        top: calc(50% - 2.5px);
        opacity: 0;
        transition: opacity 0.33s ease;
      }

      &:before {
        left: 5%;
        background-image: url("images/left-spike.svg");
      }
      &:after {
        right: 5%;
        background-image: url("images/right-spike.svg");
      }

      &:hover, &.current-menu-item {
        &:before, &:after {
          opacity: 1;
        }
      }

      &:hover {
        &:before {
          animation: tilde-wiggle-left 0.8s ease;
        }
        &:after {
          animation: tilde-wiggle-right 0.8s ease;
        }
      }
    }
  }

  .booking {
    padding-right: 0.33em;
    height: 80%;

    button {
      height: 100%;
      background: $color__logo-light;
      box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
      border-radius: 0;
      border: none;
      color: white;
      padding: 0 30px;
      font-size: 1em;
      letter-spacing: 0.1em;
      outline: none;

      &:hover, &:active {
        background: $color__logo-dark;
      }
    }
  }
}

#mobile_masthead {
  display: none;
  position: fixed;
  background: rgba(255,255,255,0.9);
  width: 100%;
  height: 50px;
  z-index: 1;
  overflow: scroll;

  &.active {
    height: 100vh;
  }

  .custom-logo-link {
    padding: 0.33em 0 0 0.66em;
    position: absolute;
    top: 0; left: 0;

    img {
      display: block;
      max-width: 40px;
      max-height: 40px;
      width: auto;
      height: auto;
    }
  }

  .burger {
    position: absolute;
    top: 10px; right: 10px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  nav {
    // display: none;
    padding-top: 50px;
    text-align: center;
    font-size: 2em;

    ul {
      width: 100%;

      li {
        display: block;
        float: none;
      }
    }

    a {
      padding: 0.5em;
    }
  }
}

body.home {
  #masthead, #mobile_masthead {
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 768px) {
  #masthead {
    display: none;
  }
  #mobile_masthead {
    display: block;
  }
}
